* {
    margin: 0;
    padding: 0;
}
html, body {
    font: 400 17px/1.5 Roboto, Arial, sans-rerif;
    color: #232323;
}
a {
    border-bottom: 1px solid rgba(107, 107, 107, .5);
    text-decoration: none;
    transition: border-color .2s ease;
}
a:hover {
  border-color: rgba(107, 107, 107, .8);
}
p {
    max-width: 760px;
    margin-bottom: .5em;
}
.anim_block {
    position: relative;
}
html.mobile .anim_block:after, html.mobile .anim_block:before {
  display: none;
}
.hidden {
    opacity: 0!important;
    width: 0!important;
    height: 0!important;
    overflow: hidden!important
}
.btn {
    background-color: #f60;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color .2s ease;
    display: inline-block;
    -webkit-appearance: none;
}
.btn:hover {
    color: white;
    background-color: #e65c00;
}
.btn-s {
  font: 400 15px Roboto, sans-serif;
  padding: 10px 15px;
}
.btn-m {
  font: 400 21px Roboto, sans-serif;
  padding: 15px 30px;
}
.promo {
	width: 166px;
	height: 152px;
	position: fixed;
	left: 0;
	top: 50%;
	top: calc(50% - 76px);
	background: url(../img/promo.png) center no-repeat;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	z-index: 999999999999
}
.promo_effect_down {
	top: 54%;
	top: calc(50% - 66px);
}
.promo_effect_up {
	top: 46%;
	top: calc(50% - 86px);
}
.error_form {
	display: inline-block;
	float: right;
	padding: 0 15px;
	color: #bbb
}
.politica {
    color: #6b6b6b;
    border-bottom: 1px solid rgba(107, 107, 107, .5);
    text-decoration: none;
    cursor: pointer;
    transition: border-color .2s ease;
    margin-right: 20px;

}
.politica:hover {
    border-color: rgba(107, 107, 107, .8);
}
.politica + .btn {
margin: 10px 0;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    display: none;
    opacity: 0;
}
.popup_active {
    display: block !important;
    opacity: 1
}
.popup > .video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
}
.politics {
    display: none;
    border-radius: 6px;
}
.politics_active .politics{
    display: block !important;
    width: 600px;
    height: 80%;
    overflow-y: auto;
    background: #fff;
}
.politics_text {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 20px 20px;
    pointer-events: none;
}
.politics_title {
    font-size: 21px;
    line-height: 1.4;
    font-weight: 700;
    padding: 20px 20px 10px;
}
.politics_active .video_close {
    top: -18px !important
}
.video > .video_close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 6px;
    right: -18px;
    background: url(../img/close.png) center no-repeat;
    cursor: pointer;
    z-index: 10001;
}
.flash.error {
	display: none;
	width: 100%;
	float: left;
	margin-bottom: 30px;
	background-color: rgba(255, 0, 0, .1);
	padding: 10px 15px;
	
	box-sizing: border-box;
	color: red
}
.flash.active {
	display: block !important
}
.error_form {
	font-size: .9em;
	color: red;
	margin-bottom: 15px;
}
main,
section,
article,
footer {
    display: block
}
.clearfix,
.clear-fix {
    display: table;
    content: "";
    clear: both
}
.cf:before, .cf:after {
    display: table;
    content: "";
    clear: both;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, .8);
    z-index: 99999;
    opacity: 1
}
@-webkit-keyframes rotating {
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes rotating {
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.anim_block::after {
    -webkit-transition: all .6s linear;
    transition: all .6s linear
}
article.famous .video_list,
.home span.anchor .obj,
.home span.anchor::after,
.anim_bg::after,
article.start .content .icon_box .orange::before,
article.car,
.loader {
    transition: all .3s ease;
}
.form_box .form_group label,
.form_box .form_group .input_anim .input_active,
article.famous .video_list .video .icon,
article.famous .video_list .video .text {
    transition: all .3s ease;
}
.or-block {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -5px;
}
.start_button,
button[type="submit"] {
    transition: all .2s ease;
}
.anchor_point {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}
nav {
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e2e2e2;
    z-index: 999
}
nav .mobile_menu {
    display: none
}
nav ul {
    list-style: none;
    display: block;
    height: 50px;
}
nav ul a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border: 0;
}
nav ul:not(.burger) li {
    font-size: 15px;
    font-weight: 500;
    color: #232323;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 0 15px;
    display: inline-block;
    transition: color .2s ease;
}
nav ul .active li,
nav ul li:hover,
.top_menu_button_active {
    color: #ccb057;
}
section article {
    padding: 60px 0;
    position: relative;
}
section article.home, section article.final {
  padding-top: 100px;
}
@media screen and (max-width: 630px) {
    section article.home, section article.final {
      padding-top: 80px;
    }
}
.center {
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
article .mouse_box {
    padding-top: 30px;
    margin-bottom: -30px;
    clear: both;
}
article .mouse_box .mouse {
    width: 20px;
    height: 50px;
    margin: 0 auto;
    background: url(../img/mouse_black.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: .3;
}
article.bg .mouse_box .mouse {
    background: url(../img/mouse_white.png) center no-repeat;
    background-size: contain
}
article .title {
    font-size: 37px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 50px;
}
article .title b {
    font-size: 55px;
    font-weight: 500;
    line-height: inherit;
    color: inherit;
    position: relative;
}
article .title .classic {
    font-family: 'Times New Roman', serif;
    font-size: 110px;
    text-shadow: 0 0 80px #fff;
}
article.bg .title {
    color: #fff;
}
article.home .content .video {
    width: 545px;
    max-width: 100%;
    background-color: #232323;
    float: left;
}
.video_holder {
    padding-top: 56%;
    position: relative;
}
.video_holder iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
article.home .content .form_box {
    width: 380px;
    float: right
}
.form_box .before_form {
    font-size: 1.15em
}
.home .form_box .before_form {
    font-size: 17px;
}
.intro {
    margin-top: -10px;
    margin-bottom: 40px;
}
.outro {
    margin-bottom: 10px;
    margin-bottom: -10px;
}
span.anchor {
    font-size: 1em;
    display: inline-block;
    position: relative;
    cursor: pointer
}
span.anchor::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #f60;
    left: 0;
    bottom: -3px
}
span.anchor .obj {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../img/anchor_orange.png) center no-repeat;
    background-size: contain;
    right: -21px;
    top: -11px;
    opacity: 0
}
.form_box form * {
    width: 100%;
}
.form_box .form_group {
    height: 55px;
    margin-bottom: 15px;
    position: relative;
}
.form_box .form_group:last-child {
  margin-top: 30px;
}
.form_box .form_group label {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 21px;
    z-index: 100;
    transition: all .2s ease;
}
.form_box .form_group.active label {
    top: -5px;
    font-size: 13px;
    bottom: auto;
}
.form_box .form_group input {
    border: none;
    outline: none;
    font-size: 21px;
    font-weight: 400;
    padding: 15px 0;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: background-color .2s ease;
    -webkit-appearance: none;
}

.g-recaptcha {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
}

.form_box .form_group input.error {
    background: rgba(255,0,0,.3);
}

.form_box .form_group .input_anim,
.form_box .form_group .input_anim .input_line,
.form_box .form_group .input_anim .input_active {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px
}
.form_box .form_group .input_anim .input_line {
    background-color: #e2e2e2;
    z-index: 100;
    transition: background-color .2s ease;
}
.form_box .form_group .input_anim .input_active {
    width: 0;
    background: #999;
    z-index: 200
}
.form_box .form_group.active .input_anim .input_active {
    width: 100%
}
.form_box .after_form {
    font-size: 15px;
    color: #999;
    margin-top: 20px;
}
.after_form span {
  white-space: nowrap;
}
article.details {
    background: url(../img/details.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
article.details:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, .5);
    position: absolute;
    top: 0;
    left: 0;
}
article.details .content .icon_box,
article.start .content .icon_box {
    width: 25%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
}
article.details .content .icon_box:last-child,
article.start .content .icon_box:last-child {
    margin-right: 0
}
article.details .content .icon_box .icon,
article.start .content .icon_box .icon {
    width: 70px;
    height: 70px
}
article.details .content .icon_box.i1 .icon {
    background: url(../img/di1.png) center no-repeat;
    background-size: contain
}
article.details .content .icon_box.i2 .icon {
    background: url(../img/di2.png) center no-repeat;
    background-size: contain
}
article.details .content .icon_box.i3 .icon {
    background: url(../img/di3.png) center no-repeat;
    background-size: contain
}
article.details .content .icon_box.i4 .icon {
    background: url(../img/di4.png) center no-repeat;
    background-size: contain
}
article.details .content .icon_box .text,
article.start .content .icon_box .text {
    font-size: 21px;
    margin-top: 30px;
    color: #fff;
}
article.details span.anchor::before {
    display: none
}
article.famous .player_box {
    position: relative;
    overflow: hidden
}
html.mobile article.famous .player_box {
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
article.famous .player_box .start_button {
    position: absolute;
    left: 110%;
    bottom: 0;
    z-index: 300;
    white-space: nowrap;
}
article.famous .video_list {
    width: 100%;
    height: 200px;
    top: 85px;
    left: 0;
    position: absolute;
    z-index: 100;
    overflow: hidden
}
html.mobile article.famous .video_list {
    height: auto;
    width: auto;
    margin-right: -15px;
    position: static;
}
@media screen and (max-width: 630px) {
    html.mobile article.famous .video_list {
        margin-right: 0;
    }
}
article.famous .video_player {
    width: 550px;
    position: relative;
    z-index: 200;
    background: #fff
}
article.famous .video_player .video .video_container {
    padding-top: 56%;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 150;
}
.video_container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.famous_video {
    position: relative;
}
article.famous .video_player .player_play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 180;
}
article.famous .video_player .player_play .button {
    position: absolute;
    width: 200px;
    height: 130px;
    margin-top: -65px;
    margin-left: -100px;
    left: 50%;
    top: 50%;
    background: url(../img/play.png) center no-repeat;
    background-size: contain;
    z-index: 250;
    cursor: pointer;
    transition: transform .2s ease;
}
article.famous .video_player .player_play .button:hover {
    transform: scale(.95);
}
article.famous .video_player .text {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 30px;
}
article.famous .video_list .video {
    width: 200px;
    float: left
}
html.mobile article.famous .video_list .video {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
@media screen and (max-width: 630px) {
    html.mobile article.famous .video_list .video {
        width: 100%;
        padding-right: 0;
    }
}
article.famous .video_list .video .text {
    margin-top: 10px;
}
html.mobile article.famous .video_list .video .text {
    font-size: 21px;
    font-weight: 700;
}
article.famous .video_list .video .icon {
    padding-top: 56%;
    position: relative;
    opacity: .3;
    cursor: pointer
}
article.famous .video_list .video .icon iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
article.famous .video_list .video .icon img {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}
article.famous .video_list .video:hover .icon, html.mobile article.famous .video_list .video .icon {
    opacity: 1
}
article.famous .video_list .video:hover .text {
    color: #000
}
article.famous .video_list .video.fm1 .icon {
    background: url(../img/cd1.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm2 .icon {
    background: url(../img/cd2.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm3 .icon {
    background: url(../img/cd3.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm4 .icon {
    background: url(../img/cd4.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm5 .icon {
    background: url(../img/cd5.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm6 .icon {
    background: url(../img/cd6.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm7 .icon {
    background: url(../img/cd7.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm8 .icon {
    background: url(../img/cd8.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm9 .icon {
    background: url(../img/cd9.jpg) center no-repeat;
    background-size: cover
}
article.famous .video_list .video.fm10 .icon {
    background: url(../img/cd10.jpg) center no-repeat;
    background-size: cover
}
article.famous .player_button {
    width: 160px;
    height: 307px;
    position: absolute;
    top: 0;
    z-index: 200;
    display: none
}
article.famous .player_button.active {
    display: block;
    cursor: pointer
}
article.famous .player_button.right {
    right: 0;
    background: url(../img/button_right.png) right center no-repeat;
    background-size: contain
}
article.famous .player_button.left {
    left: 0;
    background: url(../img/button_left.png) left center no-repeat;
    background-size: contain
}
article.facts {
    background: url(../img/facts.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
article.facts:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, .5);
    position: absolute;
    top: 0;
    left: 0;
}
article.facts .fact {
    width: 25%;
    float: left;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 30px;
    box-sizing: border-box;
    color: #fff;
    font-size: 21px;
}
article.facts .fact.f1 {
    background: url(../img/f1.png) left top no-repeat;
    background-size: 32px
}
article.facts .fact.f2 {
    background: url(../img/f2.png) left top no-repeat;
    background-size: 32px
}
article.facts .fact.f3 {
    background: url(../img/f3.png) left top no-repeat;
    background-size: 32px
}
article.facts .fact.f4 {
    background: url(../img/f4.png) left top no-repeat;
    background-size: 32px
}
article.car {
    background: url(../img/car3.jpg) center no-repeat;
}
article.car .video {
    width: 600px;
    max-width: 100%;
    position: relative;
}
.video_container {
    padding-top: 56%;
    position: relative;
}
article.car .after_video {
    padding-top: 20px;
    font-size: .875em;
    color: #999;
}
article.car .player_play {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 180
}
article.car .player_play .button {
    position: absolute;
    width: 200px;
    height: 130px;
    margin-top: -65px;
    margin-left: -100px;
    top: 50%;
    left: 50%;
    background: url(../img/play.png) center no-repeat;
    background-size: contain;
    z-index: 250;
    cursor: pointer;
    transition: transform .2s ease;
}
article.car .player_play .button:hover {
    transform: scale(.95);
}
article.start {
    background: url(../img/start.jpg) top center no-repeat;
    background-size: cover;
    position: relative;
}
article.start .before_content {
    font-size: 21px;
    color: #fff;
    margin-bottom: 40px;
}
article.start .content .icon_box.i1 .icon {
    background: url(../img/s1.png) center no-repeat;
    background-size: contain
}
article.start .content .icon_box.i2 .icon {
    background: url(../img/s2.png) center no-repeat;
    background-size: contain
}
article.start .content .icon_box.i3 .icon {
    background: url(../img/s3.png) center no-repeat;
    background-size: contain
}
article.start .content .icon_box.i4 .icon {
    background: url(../img/s4.png) center no-repeat;
    background-size: contain
}
article.start .content .icon_box .orange {
    display: inline-block;
    position: relative;
    padding: 0 5px;
    z-index: 400
}
article.start .content .icon_box .orange .t {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 300
}
article.start .content .icon_box .orange::before {
    content: "";
    position: absolute;
    background: #af9b5c;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 300
}
article.start .content .icon_box .orange.active::before {
    width: 100%
}
article.start:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, .5);
    position: absolute;
    top: 0;
    left: 0;
}
article.form {
    padding-bottom: 120px;
}
article.form .center {
    position: relative
}
article.form .form_box {
    width: 545px;
    float: left
}
article.form .form_box .before_form {
    margin-top: 30px;
    display: block;
}
article.form .form_box form {
    padding-top: 30px
}
article.form .contact_box {
    width: 415px;
    left: 545px;
    bottom: 66px;
    position: absolute;
    padding-left: 45px;
    
    box-sizing: border-box
}
article.form .contact_box .before_info,
article.final .before_info {
    margin-bottom: 10px;
    display: inline-block;
    list-style: none;
}
.before_info li {
  margin-bottom: 5px;
}
footer {
    background-color: #252525;
}
footer .center {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .center .item a {
    font-weight: 700;
    text-decoration: none;
    color: #555
}
.before_form {
    font-size: 17px;
    display: inline-block;
}
.anchor.anchor_anim .obj {
    opacity: 1
}
.anchor.anchor_anim::after {
    width: 100%
}
.anim_block::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 500
}
.anim_block_left::after {
    right: auto!important;
    left: 0!important
}
.anim_bg_finish::after {
    background: rgba(255, 255, 255, 0)!important
}
.anim_block.anim_gold::after {
    background: #d8c483!important
}
.anim_block.anim_orange::after {
    background: #f60!important
}
.title .bold.anim_block::after {
    height: 120%
}
.anim_block.anim_finish::after {
    width: 0
}
#center_video {
    padding-top: 56%;
    position: relative;
}
#center_video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
article.final .before_info {
    margin-top: 40px
}
.footer_final {
    text-align: center
}
.footer_final .item {
    float: none!important
}
.video_buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
button.g-recaptcha {
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	opacity: 0 !important;
}

    html.mobile article.famous .video_player,
    html.mobile .player_button,
    html.mobile .anim_block::after {
        display: none!important
    }
    html.mobile article.famous .video_player {

    }


@media screen and (max-width: 1000px) {
    ._chat {
	display: none;
    }
    
    nav ul:not(.burger) {
        display: none;
    }
    article.final .video_buttons {
        margin-top: 30px
    }
    article.final .video_buttons .btn:last-child {
      margin-left: 10px;
    }
    nav .mobile_menu {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000
    }
    nav .mobile_menu .burger {
        width: 30px;
        height: 30px;
        padding-top: 2px;
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        box-sizing: border-box;
        cursor: pointer;
    }
    .burger_item {
        width: 22px;
        height: 2px;
        background-color: #232323;
        margin: 5px auto;
        display: block;
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
    }
    nav.active .burger_item:nth-child(1) {
        -webkit-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
    }
    nav.active .burger_item:nth-child(2) {
        opacity: 0;
    }
    nav.active .burger_item:nth-child(3) {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
    }
    nav.active ul:not(.burger) {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        display: block!important;
        position: absolute;
        top: 50px;
        background-color: white;
        border-bottom: 1px solid #e2e2e2;
    }
    nav ul:not(.burger) a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        border: 0;
    }
    nav ul:not(.burger) li {
      padding-left: 10px;
      padding-right: 10px;
    }
    article.famous .video_list .video .icon {
        opacity: 1!important
    }
    article.form .form_box {
        width: auto;
        max-width: 600px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    article.form .contact_box {
        width: auto;
        float: none;
        position: static;
        padding-left: 0;
        max-width: 600px;
        margin: 30px auto 0;
    }
    article .title {
        font-size: 33px;
        margin-bottom: 40px;
    }
    article .title b {
        font-size: 45px;
    }
    article.details .content .icon_box,
    article.start .content .icon_box {
        width: 50%;
        margin-bottom: 30px;
    }
    article.details .content + .mouse_box {
        padding-top: 0;
    }
    article.home .content .form_box {
        width: 100%;
        max-width: 600px;
        margin: 0 auto 40px;
        float: none;
    }
    article.home .content .video {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .intro {
        margin-bottom: 20px;
    }
    article.facts .fact {
        width: 50%;
    }
    article .title .classic {
        font-size: 90px;
    }
    article.car .after_video {
        font-size: 18px;
    }
}

@media screen and (max-width: 630px) {
    article .title {
        font-size: 26px;
        margin-bottom: 30px;
    }
    article .title b {
        font-size: 37px;
    }
    article.details .content .icon_box, article.start .content .icon_box {
        width: 100%;
        max-width: 400px;
        padding-right: 0;
    }
    article.facts .fact {
        width: 100%;
        max-width: 400px;
        padding-right: 0;
    }
    article .title .classic {
        font-size: 70px;
    }
}








